<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf8">
<meta name="viewport" content="width=device-width">
<title>Empresa</title>
<link href="/webjars/bootstrap/4.0.0-alpha/css/bootstrap.min.css" rel="stylesheet">
<link href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="/css/estilos.css" rel="stylesheet">
</head>

<body>
	<nav class="navbar bg-inverse">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">
				<img width="220px" height="70px" th:src="@{/images/logo.png}"/>
			</a>
		</div>
	</nav>
	
	<section layout:fragment="conteudo">
	
	</section>
	
	<script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
</body>
</html>