<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadraoCidades">
<head>
	<meta charset="utf8">
	<title>Lista de Cidades</title>
</head>
<section layout:fragment="conteudo">

	<div class="container-fluid">
		<div class="card">
			<div class="card-header clearfix">
				<h5 class="pull-left">Lista de Cidades</h5>
				<a class="pull-right" href="/cidades/novo">Cadastrar Uma Nova Cidade</a>
			</div>

			<div class="card-block">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>Cidade</th>
							<th class="text-center">Estado</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cidade : ${cidades}">
							<td th:text="${cidade.nomedacidade}"></td>
							<td class="text-center" th:text="${cidade.estado.sigla}"></td>
							<td class="text-center">
								<a th:href="@{/cidades/{id}(id=${cidade.id})}">
									<i class="fa fa-pencil" style="padding-right: 7px"></i>
								</a>
								<a data-toggle="modal" data-target="#confirmacaoExclusaoModal" 
										th:attr="data-id=${cidade.id},data-nome=${cidade.nomedacidade}" class="fa fa-trash"></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
		
		<div class="modal fade" id="confirmacaoExclusaoModal" tabindex="-1">
			<div class="modal-dialog">
				<form th:attr="data-url-base='/cidades'" method="POST">
				
					<input type="hidden" name="_method" value="DELETE">
					
					<div class="modal-content">
						<div class="modal-header">
							<h5>Tem certeza?</h5>
						</div>
						<div class="modal-body">
							<span>Tem certeza que quer excluir o funcionário?</span>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-link" data-dismiss="modal">Cancelar</button>
							<button type="submit" class="btn btn-primary">Excluir</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

</html>